<div style="margin-top: 10ch;">
    <div class="container flex flex-column" >
        <div  >
            <!-- encabezado -->
            <div class="flex justify-content-center encabezado ">
                <h3>INGRESO</h3> 
            </div>

            <!-- Inputd -->
            <div class="flex justify-content-center inputs" >
                <div class="flex flex-column">
                    <div class="flex inputs " >
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <input type="text" pInputText placeholder="Username">         
                        </div>
                    </div>
                    <div class="flex inputs" >
                        <div class="p-inputgroup" >
                            <span class="p-inputgroup-addon"><i class="pi pi-shield"></i></span>
                            <input type="password" pInputText placeholder="password">         
                        </div>
                    </div>
                </div>
                

            </div>

            <!-- Acciones -->
            <div class="flex justify-content-center acciones">
               
                <div class="acciones">
                    <p-button styleClass="p-button-raised p-button-warning" label="Registrar" (click)="registrarBtn()" ></p-button>
                </div>

                <div class="acciones">
                    <p-button styleClass="p-button-success" label="Ingresar" ></p-button>
                </div>
                
            </div>

        </div>       

    </div>
</div>

