
<p style="margin-top: 8ch;">desde el ingreso </p>
<div class="card">
    <div class="container" >
        <div>
            <!-- encabezado -->
            <div>

            </div>

            <!-- Inputd -->
            <div>
                <div class="col-12 md:col-4">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input type="text" pInputText placeholder="Username">         
                    </div>
                </div>

            </div>

            <!-- Inputd -->
            <div>
                <div class="col-12 md:col-4">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-shield"></i></span>
                        <input type="password" pInputText placeholder="password">         
                    </div>
                </div>
            </div>
            <!-- Acciones -->
            <div>
                <button label="Submit" pPassword>Ingresar</button>
                <button label="Submit" pPassword>Registrar</button>
            </div>

        </div>       

    </div>
</div>